@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.cart-container {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  width: 1000px;
  justify-content: space-between;
  background-color: #fdebd4;
  border-radius: 14px;
  padding: 28px;
}

.cart-info {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.cart-left-half {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.cart-left-half h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.item-container img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 12px;
}

.item-title {
  width: 100px;
}

.item-container .price {
  width: 140px;
  font-size: 20px;
  font-weight: 600;
}

.quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.quantity-container p {
  font-size: 20px;
  font-weight: 400;
}

.quantity-container button {
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  background-color: #fdebd4;
}

.cart-btn-cont {
  border: none;
  background-color: #d17801;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  width: 160px;
  height: 36px;
  cursor: pointer;
  margin-top: 16px;
}

.cart-right-half {
  display: flex;
  flex-direction: column;
}

.cart-right-half h2 {
  margin-bottom: 12px;
}

.cart-right-half p {
  margin-bottom: 8px;
}

.delete-item-btn {
  border: none;
  cursor: pointer;
  background-color: #fdebd4;
}

.delete-item-btn img {
  width: 24px;
  height: 24px;
}
