@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.popup-overlay {
  background: rgba(255, 255, 255, 0.85);
}
.popup-container {
  background-color: #fdebd4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  min-height: 400px;
  border-radius: 14px;
  font-family: "poppins", sans-serif;
}

.popup-left-half {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.popup-dish-img {
  width: 300px;
  height: 300px;
  border-radius: 16px;
}

.popup-dish-img img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.popup-right-half {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

.popup-right-half h1 {
  font-size: 40px;
  color: #4b4b4b;
  padding: 0;
}

.popup-dish-price {
  font-size: 36px;
  color: #4b4b4b;
  font-weight: 800;
}

.popup-container p {
  font-size: 16px;
  color: #4b4b4b;
}

.popup-btn-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup-btn-cont button {
    border: none;
    background-color: #d17801;
    border-radius: 20px;
    width: 160px;
    height: 36px;
    cursor: pointer;
    margin-top: 16px;
}

@media screen and (max-width: 600px){
  .popup-overlay {
    background: rgba(255, 255, 255, 0.85);
  }
  .popup-container-m {
    background-color: #fdebd4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 180px;
    border-radius: 14px;
    font-family: "poppins", sans-serif;
    padding: 20px;
  }
  
  .popup-left-half-m {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-dish-img-m {
    width: 120px;
    height: 120px;
    border-radius: 16px;
  }
  
  .popup-dish-img-m img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
  
  .popup-right-half-m {
    display: flex;
    flex-direction: column;
 
  }
  
  .popup-right-half-m h1 {
    font-size: 32px;
    color: #4b4b4b;
    padding: 0;
  }
  
  .popup-dish-price-m {
    font-size: 24px;
    color: #4b4b4b;
    font-weight: 800;
  }
  
  .popup-container-m p {
    font-size: 16px;
    color: #4b4b4b;
  }
  
  .popup-btn-cont-m {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .popup-btn-cont-m button {
      border: none;
      background-color: #d17801;
      border-radius: 20px;
      width: 120px;
      height: 36px;
      cursor: pointer;
      margin-top: 16px;
  }
  
}