@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  padding: 12px 0;
  border-bottom: #bebbbb solid 0.5px;
  font-family: "Montserrat", sans-serif;
}

.links-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.logo {
  width: 240px;
  height: 80px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 52%;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-links a {
  color: #000;
  text-decoration: none;
}

.nav-addOns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  width: 40%;
  font-size: 16px;
}

.nav-addOns img {
  width: 32px;
  height: 32px;
}

.nav-links a:hover {
  color: #d17801;
}

.search {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 160px;
}
.search img {
  width: 24px;
  height: 24px;
}

.search input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  width: 120px;
}

.login-signup-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.login-btn {
  text-decoration: none;
  color: #0e1b3b;
  font-weight: 600;
  width: 64px;
}

.signUp-btn {
  text-decoration: none;
  background-color: #0e1b3b;
  color: #fff;
  padding: 12px 16px;
  border-radius: 20px;
  width: 64px;
}
